body{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(15, 168, 81);
    text-shadow: 1px 1px 2px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: sans-serif;
    color: white;
    background: rgb(15, 112, 58);
    background: linear-gradient(45deg, rgba(15, 112, 58, 1) 15%, 
              rgb(15, 168, 81) 50%, 
              rgba(15, 112, 58, 1) 85%);
}

td{
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    padding-left: 10px;
    padding-right: 10px;
}

#pos1, #pos2, #pos3, #pos4, #pos5, #pos6{
    color: blue;
}

#pos17, #pos18, #pos19, #pos20{
    color: red;
}